body {
    font-family: Arial, sans-serif;
    background-color: lightskyblue;
    margin: 0;
    padding: 0;
}
h1, h2 {
    color: #333333;
}
form {
    margin: 20px 0;
}
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#disclaimer{
    font-size: 16px
}