<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Found Recipes</title>
</head>
<body>
    {% for recipe in recipes %}

        <h1>{{ recipe.recipe_stats.recipe_name }}</h1>

        <p>Cooking time: {{ recipe.recipe_stats.cooking_time_minutes }} minutes.</p>
        <br>
        <p>This dish serves {{ recipe.recipe_stats_serving_amount }}.</p>
        <br>
        <p>{{ recipe.recipe_stats.cooking_time_minutes }} was found on {{ recipe.recipe_stats.recipe_credits }}</p>
        <br>
        <p>{{ recipe.recipe_stats.url }}</p>


    {% endfor %}
    {% else %}
        <p>No recipes found.</p>
    {% endif %}
</body>
</html>