    {% extends "base.html" %}

    {% block content %}


    <div id="recipe_returns">
    {% for recipe in recipes %}

        <h1 id="recipe_name">{{ recipe.recipe_stats.recipe_name }}</h1>

        <img src="{{ recipe.picture }}" alt = 'A picture of {{ recipe.recipe_stats.recipe_name }}'>

        <p>Cooking time: {{ recipe.recipe_stats.cooking_time_minutes }} minutes.</p>

        <p>This dish serves {{ recipe.recipe_stats.serving_amount }} people.</p>

        <p>The recipe for {{ recipe.recipe_stats.recipe_name }} was found on {{ recipe.recipe_stats.recipe_credit }}</p>

        <p>{{ recipe.recipe_stats.url }}</p>
        <br>
        <p>Recipe Ingredients:</p>
        <br>
        <ul>
        {% for key, ingredient in recipe.ingredients.items() %}
            <li>{{ ingredient[0] }} — {{ ingredient[1] }} {{ ingredient[2] }}</li>
        {% endfor %}
        </ul>
        <br>
        <p>{{ recipe.instructions }}</p>
        <br><br>

    {% endfor %}
        <button onclick="location.href='/'">Try another option</button>
    </div>

    {% endblock %}