{% extends "base.html" %}

{% block content %}




<h1>Recipe Recommendations App</h1>
<h2 id="disclaimer">This information will be sent to Gemini AI and all recipes are provided by Spoonacular API.</h2>

<form action="/get_recipes" method="get">

    
    <label for="cuisine">Enter Cuisine / Region / Food Interest:</label>
    <input type="text" id="cuisine" name="cuisine" placeholder="e.g. Curry, Italian, Chicken, " required>
    <br><br>

    
    <label for="cost">Select how expensive:</label>
    <select id="cost" name="cost">
        <option value="cheap">Cheap</option>
        <option value="affordable">Affordable</option>
        <option value="expensive">Expensive</option>
    </select>
    <br><br>

    
    <label for="nutrition">Select Nutritional Level:</label>
    <select id="nutrition" name="nutrition">
        <option value="healthy">Healthy</option>
        <option value="moderately_healty">Moderately Nutritous</option>
        <option value="comfort_food">Comfort Food</option>
    </select>
    <br><br>

    <button type="submit">Search Recipes</button>
</form>




{% endblock %}
