<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Recipe Recommendations App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Recipe Recommendations App</h1>
 
    <form action="/get_recipes" method="get">

       
        <label for="cuisine">Enter Cuisine / Region:</label>
        <input type="text" id="cuisine" name="cuisine" placeholder="e.g., Italian, Mexican, Thai" required>
        <br><br>

       
        <label for="diet">Enter Dietary Restriction (optional):</label>
        <input type="text" id="diet" name="diet" placeholder="e.g., vegan, gluten-free, halal">
        <br><br>

       
        <button type="submit">Search Recipes</button>
    </form>

</body>
</html>